.flights-wrapper {
    padding: 0 10px;

    &__ads {
        margin: 18px 0 13px;
    }

    &__ad-item {
        height: 40px;
        margin-bottom: 11px;
        padding-left: 88px;
        padding-right: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: relative;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: '';
            position: absolute;
            left: 10px;
            top: 0;
            width: 52px;
            height: 40px;
        }

        &_grey {
            background-color: #f0f0f0;

            &:before {
                background: url(../img/info.png) no-repeat center center;
            }
        }

        &_blue {
            background-color: #f4f9ff;

            &:before {
                background: url(../img/blue-ticket.png) no-repeat left center;
            }
        }
    }

    &__ad-description {
        display: none;
    }

    &__change-flight {
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        color: #424242;
        margin-left: auto;

        &:hover {
            color: #f00;
        }
    }

    @media (min-width: 641px) {
        padding: 0;

        &__change-flight {
            display: none;
        }

        &__ad-item {
            height: auto;
            padding: 14px 18px 14px 120px;

            &:before {
                height: 64px;
                left: 18px;
                width: 80px;
            }

            &_grey {
                &:before {
                    background: url(../img/info-large.png) no-repeat center center;
                }
            }

            &_blue {
                &:before {
                    background: url(../img/blue-ticket-large.png) no-repeat left center;
                }
            }
        }

        &__ad-description {
            display: block;
            font-size: 14px;
            margin-top: 8px;
        }
    }
}