@import "../../common/variables";

.contacts {
    display: block;
    width: 250px;
    text-align: right;

    &_header {
        display: none;
    }

    &__label {
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: @colorGrey3;
    }

    &__phone-number {
        font-weight: bold;
        font-size: 28px;
        color: @phoneNumberColor;
        text-decoration: none;
    }

    &__note {
        margin-top: 10px;
        font-size: 11px;
        color: @colorLightGrey8;
    }

    @media (min-width: 641px) {
        &_header {
            display: block;
            margin-top: 21px;
            margin-left: auto;
        }
    }
}
