.pay {
    &__cards-list {
        font-size: 0;
        margin-top: 10px;

        li {
            display: inline-block;
            margin-left: 2px;

            &:first-child {
                margin-left: 0;
            }
        }
    }

    @media (min-width: 641px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;

        &__heading {
            flex-basis: 100%;
        }
    }
}
