.page__price {
    color: #fb4e12;
    font: 22px sans-serif;
    font-weight: 700;

    &.page__price_right {
        float: right;
        line-height: 46px;
        vertical-align: middle;
    }

    &.page__price_vertical-align {
        line-height: 46px;
        vertical-align: middle;
    }
}

.page__heading {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #434343;

    &.page__heading_h1 {
        font-size: 22px;
    }

    &.page__heading_h2 {
        font-size: 22px;
    }

    &.page__heading_h3 {
        font-size: 20px;
    }

    &.page__heading_h4 {
        font-size: 18px;
    }

    &.page__heading_h5 {
        font-size: 16px;
    }

    &.page__heading_h6 {
        font-size: 14px;
    }

    &.page__heading_white {
        color: #fff;
    }
}

.page__continue-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: #c9da00;
    width: 100%;
    height: 42px;
    color: #093164;
    text-transform: uppercase;
    font: 18px bold;
    font-family: sans-serif;
}