.page {
    @media all and (max-width: 640px) {
        padding-top: 42px;
    }
}

.page__price {
    color: #fb4e12;
    font: 22px sans-serif;
    font-weight: 700;
    padding-left: 12px;

    &_plus {
        padding-left: 19px;
        position: relative;

        &:before {
            content: '+';
            position: absolute;
            left:0;
        }
    }
}

.page__heading {
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #434343;

    &_h1 {
        font-size: 22px;
    }

    &_h2 {
        font-size: 22px;
    }

    &_h3 {
        font-size: 20px;
    }

    &_h4 {
        font-size: 18px;
    }

    &_h5 {
        font-size: 16px;
    }

    &_h6 {
        font-size: 14px;
    }

    &_white {
        color: #fff;
    }

    &_blue {
        color: #0165bb;
    }
}

.page__continue-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: #c9da00;
    width: 100%;
    height: 42px;
    color: #093164;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;

    &_arrow {
        &:after {
            content: '>';
            margin-left: 5px;
        }
    }
}
