@import "../../common/variables";

.section-content {
    border: 1px solid @sectionContentBorder;
    border-top: none;
    font-size: 13px;
    box-shadow: 0 0 4px 1px @sectionContentShadow;

    &__header {
        height: 47px;
        line-height: 47px;
        border-bottom: 3px solid @sectionContentBorder;
        padding: 0 9px;
    }

    &__grid-cell {
        padding: 10px;
    }

    &__summary {
        height: 50px;
        padding: 0 10px;
    }

    //@todo: implement a text elemnt of the page block and all font-style-specific declarations to its modifiers
    &__black-bold-uppercase {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        margin: 8px 0;
    }

    &__black-bold {
        color: @textColorDark;
        font-weight: bold;
        margin: 8px 0;
    }

    &__grey {
        color: @textColorLight;
    }

    &_no-decoration{
        box-shadow: none;
        border: none;
    }

    @media (min-width: 641px) {
        &__grid-cell {
            padding: 20px;

            &_details {
                padding: 17px 20px 10px;
            }

            &_summary {
                height: 50px;
            }

            &_sidebar {
                padding: 10px;
            }
        }

        &__notification-container {
            border-top: 1px solid @gridBorderColor;
        }

        &__summary {
            height: 50px;
            padding: 0 20px;

            &_sidebar {
                height: 37px;
                padding: 0 10px 0 35px;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
