.section-content {
    border: 1px solid #d9d9d9;
    border-top: none;
    font-size: 13px;
    box-shadow: 0 0 4px 1px rgba(214,214,214,1);

    &__header {
        height: 47px;
        line-height: 47px;
        border-bottom: 3px solid #d9d9d9;
        padding: 0 9px;
    }

    //@todo: implement a text elemnt of the page block and all font-style-specific declarations to its modifiers
    &__black-bold-uppercase {
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        margin: 8px 0;
    }

    &__black-bold {
        color: #000;
        font-weight: bold;
        margin: 8px 0;
    }

    &__grey {
        color: #8b8b8b;
    }

    &_no-decoration{
        box-shadow: none;
        border: none;
    }
}
