@import "../../common/variables";

.section-content {
    border: 1px solid @sectionContentBorder;
    border-top: none;
    font-size: 13px;
    box-shadow: 0 0 4px 1px @sectionContentShadow;

    &_no-decoration{
        box-shadow: none;
        border: none;
    }

    &__header {
        height: 47px;
        line-height: 47px;
        border-bottom: 3px solid @sectionContentBorder;
        padding: 0 9px;
    }

    &__grid-cell {
        padding: 20px 10px;
    }

    &__summary {
        height: 50px;
        padding: 0 10px;
    }

    &__text {
        &_black-bold {
            color: @textColorDark;
            font-weight: bold;
        }

        &_uppercase {
            text-transform: uppercase;
        }

        &_line-height {
            line-height: 1.4;
        }

        &_grey {
            color: @textColorLight;
        }

        &_margin-bottom {
            display: block;
            margin-bottom: 5px;
        }
    }

    @media (min-width: 641px) {
        &__grid-cell {
            padding: 20px;

            &_details {
                padding: 17px 20px 10px;
            }

            &_summary {
                height: 50px;
            }

            &_sidebar {
                padding: 10px;
            }
        }

        &__notification-container {
            border-top: 1px solid @gridBorderColor;
        }

        &__summary {
            height: 50px;
            padding: 0 20px;

            &_sidebar {
                height: 37px;
                padding: 0 10px 0 35px;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
