.section-heading {
    height: 50px;
    position: relative;
    padding: 0 10px;

    &__time {
        color: #fff;
        font-size: 13px;
        font-family: sans-serif;
        display: block;
        margin-left: auto;

        &:before {
            display: inline-block;
            content: '';
            width: 15px;
            height: 15px;
            margin-right: 5px;
            vertical-align: bottom;
            background: url(../img/clock-icon-orange.png) no-repeat center center;
        }
    }

    &_icon {
        &:before {
            display: block;
            content: '';
            width: 40px;
            height: 50px;
            background: left center no-repeat;
        }

        &_flights {
            &:before {
                background-image: url(../img/flights-icon.png);
            }
        }

        &_hotel {
            &:before {
                background-image: url(../img/hotel-icon.png);
            }
        }

        &_globe {
            &:before {
                background-image: url(../img/globe-icon.png);
            }
        }

        &_insurance {
            &:before {
                background-image: url(../img/insurance-icon.png);
            }
        }
    }

    &_orange {
        background-color: #f57d2f;
    }

    &_purple {
        background-color: #4d156c;
    }

    &_gold {
        background-color: #a99a25;
    }

    &_navy {
        background-color: #0c2454;
    }

    &_blue {
        background-color: #2096d6;
    }

    &_arrow-blue {
        position: relative;
        margin-bottom: 20px;

        &:after {
            top: 100%;
            left: 10px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-width: 10px 10px 0 10px;
            border-top-color: #2096d6;
        }
    }

    &_small {
        height: 40px;

        &:before {
            width: 30px;
            height: 40px;
        }
    }
}
