@import "../../common/variables";

.section-heading {
    height: 50px;
    position: relative;
    padding: 0 10px;

    &__time {
        color: @textColorWhite;
        font-size: 13px;
        font-family: sans-serif;
        display: block;
        margin-left: auto;

        >span {
            display: none;
        }

        &:before {
            display: inline-block;
            content: '';
            width: 15px;
            height: 15px;
            margin-right: 5px;
            vertical-align: bottom;
            background: url(../img/clock-icon-orange.png) no-repeat center center;
        }
    }

    &__button {
        margin-left: auto;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: @textColorWhite;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &_icon {
        &:before {
            display: block;
            content: '';
            width: 40px;
            height: 50px;
            background: left center no-repeat;
        }

        &_flights {
            &:before {
                background-image: url(../img/flights-icon.png);
            }
        }

        &_hotel {
            &:before {
                background-image: url(../img/hotel-icon.png);
            }
        }

        &_globe {
            &:before {
                background-image: url(../img/globe-icon.png);
            }
        }

        &_insurance {
            &:before {
                background-image: url(../img/insurance-icon.png);
            }
        }
    }

    &_orange {
        background-color: @colorOrange;
    }

    &_purple {
        background-color: @colorPurple;
    }

    &_gold {
        background-color: @colorGold;
    }

    &_navy {
        background-color: @colorDarkBlue;
    }

    &_blue {
        background-color: @colorLightBlue;
    }

    .arrow {
        top: 100%;
        left: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-width: 10px 10px 0 10px;
    }

    .arrow_small {
        .arrow;
        border-width: 6px 6px 0 6px;
    }

    &_arrow-blue {
        position: relative;
        margin-bottom: 20px;

        &:after {
            .arrow;
            border-top-color: @colorLightBlue;
        }
    }

    &_arrow-small-orange {
        position: relative;
        margin-bottom: 5px;

        &:after {
            .arrow_small;
            border-top-color: @colorOrange;
        }
    }

    &_arrow-small-blue {
        position: relative;
        margin-bottom: 5px;

        &:after {
            .arrow_small;
            border-top-color: @colorLightBlue;
        }
    }

    &_small {
        height: 40px;

        &:before {
            width: 30px;
            height: 40px;
        }
    }

    @media (min-width: 641px) {
        height: 45px;
        padding: 0 18px;

        &_small {
            height: 40px;

            &.section-heading_icon {
                &:before {
                    width: 30px;
                    height: 40px;
                }
            }
        }

        &_icon {
            &:before {
                width: 40px;
                height: 45px;
            }
        }

        &_h5 {
            height: 30px;
            padding: 0 10px;
        }

        &__time {
            >span {
                display: inline;
                font-weight: bold;
            }
        }
    }
}
