.expandable {
    &__expander {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        color: #434343;

        &_large {
            margin: 19px 10px;
        }

        &:before {
            content: '+';
            margin-right: 5px;
        }

        @media all and (min-width: 641px) {
            display: none;
        }
    }

    &__content {
        @media all and (max-width: 640px) {
            display: none;
        }
    }

    &_expanded {
        .expandable__expander {
            &_large {
                margin: 19px 10px 14px;
            }

            &:before {
                content: '-';
            }
        }

        .expandable__content {
            display: block;
        }

        .expandable__content_flex {
            display: flex;
        }
    }
}