@import "../../common/variables";

.header {
    height: 42px;
    background: @colorWhite;
    display: flex;
    border-bottom: 1px solid @colorLightGrey13;
    box-shadow: inset 0 -1px 0 0 @headerInsetShadowColor;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width: 320px;

    &__logo {
        display: block;
        width: 53px;
        height: 42px;
        background: url(../img/logo_small.png) no-repeat center center;
    }

    &__slogan {
        display: none;
    }

    &__btn {
        width: 42px;
        height: 42px;
        cursor: pointer;
        border: none;
        outline: none;
        border-left: 1px solid @headerButtonBorder;

        &:first-child {
            border: none;
        }

        &_menu {
            background: url(../img/menu-btn.png) center center no-repeat;

            &:hover {
                background-image: url(../img/menu-btn-hover.png);
            }
        }

        &_find {
            background: url(../img/find-btn.png) center center no-repeat;
            margin-left: auto;

            &:hover {
                background-image: url(../img/find-btn-hover.png);
            }
        }

        &_ask {
            background: url(../img/ask-btn.png) center center no-repeat;

            &:hover {
                background-image: url(../img/ask-btn-hover.png);
            }
        }
    }

    @media (min-width: 641px) {
        position: static;
        width: 960px;
        min-width: auto;
        height: 130px;
        margin: 0 auto;
        border-bottom: 1px solid @headerBottomBorder;
        box-shadow: none;

        &__logo {
            width: 115px;
            height: 83px;
            margin-top: 20px;
            background-image: url(../img/logo.png);
        }

        &__slogan {
            display: block;
            margin-top: 34px;
            margin-left: 25px;
            background-image: url(../img/logo.png);
        }

        &__btn {
            display: none;
        }
    }
}
