.promo-code {
    margin-top: 25px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 14px 0;

    &_no-border {
        border: none;
    }

    &__input-wrapper {
        display: flex;
        justify-content: stretch;
        margin-top: 14px;
    }

    &__input {
        flex-grow: 1;
        border: 1px solid #dfe3e6;
        padding-left: 17px;
        height: 37px;
        min-width: 170px;
    }

    @media (min-width: 641px) {
        margin-top: 0;
        border: none;

        &_footer {
            margin-left: auto;
            padding: 0;

            .promo-code__input-wrapper {
                margin-top: 0;
            }
        }
    }
}
