.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;

    &_center {
        justify-content: center;
    }

    &_right-center {
        justify-content: flex-end;
        align-items: center;
    }

    &_col-border {
        .flex-row__flex-col {
            @media all and (min-width: 641px) {
                border-right: 1px solid #d9d9d9;
            }
        }
    }

    &_border-top {
        border-top: 1px solid #d9d9d9;
    }

    &_border-bottom {
        border-bottom: 1px solid #d9d9d9;
    }

    &__flex-col {
        padding: 10px;

        &:last-child {
            border: none;
        }

        &_20 {
            @media all and (min-width: 641px) {
                flex-basis: 20%;
            }
        }

        &_30 {
            @media all and (min-width: 641px) {
                flex-basis: 100%/3;
            }
        }

        &_40 {
            @media all and (min-width: 641px) {
                flex-basis: 40%;
            }
        }

        &_60 {
            @media all and (min-width: 641px) {
                flex-basis: 60%;
            }
        }

        &_sm-50 {
            @media all and (max-width: 640px) {
                flex-basis: 50%;
            }
        }

        &_sm-100 {
            @media all and (max-width: 640px) {
                flex-basis: 100%;
            }
        }

        &_sm-border-right {
            @media all and (max-width: 640px) {
                border-right: 1px solid #d9d9d9;
            }
        }

        &_sm-border-bottom {
            @media all and (max-width: 640px) {
                border-bottom: 1px solid #d9d9d9;
            }
        }

        &_right {
            margin-left: auto;
        }
    }
}
