.flex-row {
    display: flex;
    flex-wrap: wrap;
    min-height: 50px; //tmp
    align-items: stretch;

    &_center {
        justify-content: center;
    }

    &__flex-col {
        padding: 10px;


        &:last-child {
            border: none;
        }

        @media all and (max-width: 640px) {
            min-width: 100%;
        }

        &_20 {
            flex-basis: 20%;
        }

        &_30 {
            flex-basis: 100%/3;
        }

        &_40 {
            flex-basis: 40%;
        }

        &_60 {
            flex-basis: 60%;
        }
    }
}
