@import "../../common/variables";

.cart-heading {
    background: @colorLightGrey3;
    box-shadow: 0 1px 4px 0 @colorLightGrey7;

    margin-bottom: 20px;

    &__button-wrapper {
        border-top: 1px solid @colorLightGrey6;
        padding: 10px;
    }

    &__items-count {
        margin-left: 10px;
        color: @colorLightGrey1;
    }

    &__head {
        padding: 0 10px;
        height: 46px;
    }

    &__subheading {
        display: none;
    }

    @media (min-width: 641px) {
        background: none;
        box-shadow: none;
        margin-bottom: 27px;

        &__button-wrapper {
            display: none;
        }

        &__head {
            padding: 0;
            height: 75px;
            position: relative;
        }

        &__items-count {
            color: @textColor;
            font-size: 36px;
            font-weight: bold;
            text-transform: uppercase;

            &:before {
                content: '–';
                margin-right: 10px;
            }
        }

        &__subheading {
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
        }
    }
}
