@import "../../common/variables";

.get-extra {
    margin-top: 10px;
    background: @colorLightGrey2;
    padding: 10px;
    display: flex;

    &__thumbnail {
        display: none;
    }

    &__checklist {
        margin-bottom: 25px;
    }

    &__checklist-item {
        margin-top: 20px;
        padding-left: 30px;
        font-size: 13.5px;
        position: relative;

        &:before {
            content: '✓';
            font-weight: bold;
            color: @colorGreen;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -9px;
            font-size: 18px;
        }
    }

    &__add-to-cart {
        display: flex;
        flex-wrap: wrap;
    }

    &__label {
        display: block;
        font-size: 11px;
        text-align: right;

        &_optional {
            display: none;
        }
    }

    &__number-of-travellers {
        height: 31px;
        width: 73px;
        padding-left: 20px;
        margin-left: auto;
    }

    &__row {
        border-top: 1px solid @colorLightGrey6;
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
    }

    &__description {
        font-size: 13.5px;
        line-height: 1.2;
        margin: 12px 0 20px;

        &_main {
            margin-bottom: 0;
        }
    }

    @media (min-width: 641px) {
        min-height: 210px;
        padding: 20px 0;

        &_no-bottom-padding {
            padding-bottom: 0;
        }

        .padded-border-top {
            position: relative;

            &:before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                margin: 0 20px;
                border-top: 1px solid @colorLightGrey6;
            }
        }

        &__thumbnail {
            display: block;
            margin-top: 8px;
            flex-basis: 123px;
            padding-left: 17px;
        }

        &__price-tag {
            margin-left: auto;
            text-align: right;
        }

        &__number-of-travellers {
            margin-top: 15px;
            margin-bottom: 10px;
            height: 24px;
        }

        &__label {
            &_optional {
                display: block;
            }
        }

        &__description {
            padding-right: 50px;

            &_extra-padding {
                padding-right: 100px;
            }

            &_main {
                padding-top: 22px;
                .padded-border-top;
            }
        }

        &__row {
            padding: 15px 0;
            border: none;
            .padded-border-top;

            &:first-of-type {
                margin-top: 25px;
            }
        }

        &__heading {
            padding-left: 20px;
            margin-left: 25%;
            flex-basis: 75%;
        }

        &__list-container {
            padding: 0 20px;
        }

        &__add-to-cart {
            padding-right: 20px;
            justify-content: flex-end;
        }

        &__checklist-item {
            margin-top: 16px;
        }

        &__grid-cell {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
