.section {
    background: #fff;
    margin-bottom: 19px;

    &_margin-top {
        margin-top: 19px;
    }

    &_small-margin {
        margin-bottom: 10px;
    }

    &_no-margin {
        margin: 0;
    }

    &_final-total {
        background-color: #f9fceb;
        padding: 20px 10px 20px 20px;

        p {
            color: #7e7e7e;
            font-size: 11px;
            margin-bottom: 35px;
        }
    }
}
