.section {
    background: #fff;
    margin-bottom: 19px;

    &.section_margin-top {
        margin-top: 19px;
    }

    //temporary
    &.section_lightgreen {
        background-color: #f9fceb;
    }

    //temporary
    &.section_footer {
        padding: 20px 10px 20px 20px;

        p {
            color: #7e7e7e;
            font-size: 11px;
            margin-bottom: 35px;
        }
    }
}
