@import "../../common/variables";

.help-section {
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 15px 0 17px;

    &__text {
        margin: 10px 0 15px;
        font-size: 13px;
    }

    &__btn {
        width: 100%;
        height: 35px;
        background: @colorWhite;
        border: 1px solid;
        margin-top: 9px;
        text-align: left;
        padding: 0;

        &_call {
            border-color: @helpSectionCallBtnBorder;

            &:hover {
                color: @colorWhite;
                background: @helpSectionCallBtnBackground;
            }
        }

        &_chat {
            border-color: @helpSectionChatBtnBorder;

            &:hover {
                color: @colorWhite;
                background: @helpSectionChatBtnBackground;
            }
        }
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 35px;
        position: relative;
        margin-right: 8px;

        &:after {
            content: '';
            position: absolute;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid;
            right: -4px;
            top: 50%;
            margin-top: -5px;
        }

        &_call {
            background: url(../img/call-icon.png) no-repeat center center @helpSectionCallBtnBackground;

            &:after {
                border-left-color: @helpSectionCallBtnBackground;
            }
        }

        &_chat {
            background: url(../img/chat-icon-lightblue.png) no-repeat center center @helpSectionChatBtnBackground;

            &:after {
                border-left-color: @helpSectionChatBtnBackground;
            }
        }
    }
}
